@charset "UTF-8";

*{
text-align: center;
}

:root{
    --font-padrao: Arial,verdana,Helvetica,sans-serif;
    --font-destaque: '', cursive;

}

article.fundo_branco{
    background-color: white;
    color: black;
}