@charset "UTF-8";

@font-face {
    font-family: 'titulo';
    src: url('estilos/fontes/PassionOne-Regular.ttf')
    format('opentype');
    font-weight:normal ;
}

@font-face {
    font-family: 'texto';
    src: url('estilos/fontes/Sriracha-Regular.ttf')
    format('opentype');
    font-weight: normal;
}

*{
    margin:0px;
    padding:0px;
}

:root{
    --font-padrao: Arial,verdana,Helvetica,sans-serif;
    --font-titulo: 'titulo',cursive;
    --font-texto: 'texto',cursive;
}

header{
    margin-bottom: 12px;    

    color: white;
    background-color: black;

    text-align: center;
    font-family: var(--font-titulo);
    font-size: 1.6em;

    box-shadow: 2px 0px 20px black;
}

header a{
    color: white;
    text-decoration: none; 
}

a :hover{
text-decoration:underline;
}

main ul{
font-family: var(--font-texto);
}

ul li{
font-size: 1.3em;
padding-left: 15px;
}

#joaninha{
    height: 45vh;

    background: url(imagens/background001.jpg) no-repeat right center fixed;
    background-size: cover;
    color: white;

    box-shadow: 2px 3px 7px #1C1F1D;
}

#folha{
    height: 45vh;

    background: url(imagens/background002.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;

    box-shadow: 2px 3px 7px #1C1F1D;
}
.bloco{
    margin: 10px;
    width: 25vw;
    display: block;

    background-color: rgba(0,0,0,0.300);
    border-radius: 10px;
}
footer#rodape{
    padding: 5px;

    text-align: center;
    font-family: var(--font-texto);
    
    background-color: black;
    color: white;
}